.feed-item-image {
    width: 160px;
    height: 100px;
    max-width: 160px;
    flex-shrink: 0;
}

.feed-item {
    border: 2px solid #1a212e;
    border-radius: 8px;
    background-color: #0a121d;
    cursor: pointer;
}

.feed-item-content {
    background-color: #0a121d;
}

.feed-item-date {
    color: #8b919e;
}

.feed-item-date a {
    align-self: flex-end;
    color: inherit;
    opacity: 0.65;
}

.feed-item-date a:hover {
    opacity: 1;
}

.feed-item-title a{
    text-decoration: none;
    color: #fff;
}

.feed-item-title:hover{
    text-decoration: underline;
}

@media (max-width: 991.98px) {
    .feed-item {
        flex-direction: column;
        row-gap: 0.5rem !important;
    }

    .feed-item-image-container {
        width: 100%;
    }

    .feed-item-image {
        width: 100%;
        height: auto;
        max-width: none;
        aspect-ratio: 16 / 9;
    }

    .feed-item-date {
        align-items: flex-start !important;
        width: 100%;
    }

    .feed-item-description {
        margin-bottom: 0;
    }
}
